.bg-blue {
    background-color: #0166b3 !important;
}

.btn-blue {
    background-color: #0166b3 !important;
    color: white;
}

.bg-blue-light
{
    background-color: #E0F1FF;
}

.bg-blue-subtle {
    background-color: #5C98EB;
    color: white;
}

.bg-yellow-light {
    background-color: ffffed;
}
