body
{
    font-family: Metric-regular, Arial, sans-serif;
}

h2
{
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
}

p, li
{
    font-size: 18px;
}

.red
{
	color: red;
	display: inline;
}

.footer-big
{
    max-width: 100%;
}

.map-container
{
    width: 100%;
    padding-top: 75%; /* 1:1 Aspect Ratio */
    position: relative; /* If you want text inside of it */
    height: 0;

}

.map-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#description p, #zimmer p, #wellness p
{
    text-align: justify;
}

#description {
    margin-top: 145px;
}

img, iframe, .row
{
    border-radius: 25px;
}

img, iframe
{
    padding: 0 !important;
}

.info
{
    padding: 10px;
    border-radius: 15px;
    height: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.info > p
{
    text-align: center !important;
    font-size: 16px;
    margin: 0;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}

.wellness > p
{
    font-size: 18px;
    text-align: justify;
}

.form-control, .form-label
{
    margin-top: 5px;
}

@media (min-width: 1200px) {
    #description p {
        font-size: 17px;
    }
}

@media (min-width: 1400px) {
    #description p {
        font-size: 19px;
    }
}

@media (max-width: 768px) {
    .info
    {
        height: auto;
    }

    .map-container
    {
        height: 300px;
    }
}

@media (min-width: 768px) and (max-width: 880px){
    .navbar-brand
    {
        display: none;
    }
    .collapse
    {
        margin-left: auto !important;
    }
}

.logo
{
    height: 60px;
    border-radius: 0;
}

p.contact-p
{
    text-align: left !important;
}

.navbar
{
    top: 100px;
}

.contact-footer
{
    list-style: none;
    padding-left: 0;
    margin: 0;
}


.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease;
}
.slide {
    min-width: 100%;
    box-sizing: border-box;
}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 5 / 3;
}
.slider-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.slider-controls button {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}
.slider-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.slider-dots div {
    width: 10px;
    height: 10px;
    background: #ddd;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
}
.slider-dots .active {
    background: #333;
}

.large-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.small-image {
    width: 100%;
    height: calc(50% - 5px); /* Adjust the height to account for margin */
    object-fit: cover;
    margin-bottom: 10px; /* Adjust the margin between images */
    border-radius: 0;
    border-top-right-radius: 25px;
}
.img-container {
    position: relative;
    height: 100%;
}
.img-container img:last-child {
    margin-bottom: 0; /* Remove margin from the last image */
    border-top-right-radius: 0;
    border-bottom-right-radius: 25px;
}

@media (max-width: 768px) {
    .large-image {
        border-radius: 25px;
    }

    .small-image {
        border-radius: 25px;
    }

    .img-container img:last-child {
        border-radius: 25px;
    }
}



.logo-div {
    height: 100px;
    text-align: center;
    padding: 5px;
}


@font-face {
    font-family: 'Freestyle Script SHOP';
    src: url('fonts/FCS.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.logo-div p {
    font-weight: bold;
    color: #0166b3;
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
}


.image-wrapper {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.image-wrapper.visible {
  opacity: 1;
  transform: translateY(0);
}

.label {
    display: inline-block;
    min-width: 150px; /* szerokość etykiety */
    font-weight: bold;
}

.invisible-label {
    visibility: hidden;
    min-width: 150px;
}